*{
	box-sizing: border-box;

}
body{
	
	font-family: Helvetica;
}
h1{
	text-align: center;
	
}
h2{
	text-align: center;


}
.Chicken{
	position: relative;
	float: right;
	margin-top: 0px;

	background-color: green;
	border: 1px solid black;

	width: 30%;
}

.Beef{
	position: relative;
	float: right;
	margin-top: 0px;
	background-color: violet;
	border: 1px solid black;

	width: 30%;
}

.Sushi{
	position: relative;
	float: right;
	margin-top: 0px;
	background-color: purple;
	border: 1px solid black;

	width: 30%;
}

.row{

	margin: 5%;
	margin-top: 2%;

	//margin-left: 15px;
}

.section1 {
	border: 1px solid black;
	background-color: #A39F9D;
	position: relative;
	margin-right: 30px;
	width: 100%;
	margin-right: 30px;
  	min-height: 170px;
  	margin-bottom: 30px;
  	text-align: justify;
  
}

.section2 {
	border: 1px solid black;
	background-color: #A39F9D;
	position: relative;
	margin-right: 30px;
	width: 100%;
  	min-height: 170px;
  	margin-bottom: 30px;
  	text-align: justify;
}

.section3 {
	border: 1px solid black;
	background-color: #A39F9D;
	position: relative;
	margin-right: 30px;
	width: 100%;
  	min-height: 170px;
  	text-align: justify;
}


p{
	padding: 10px;
	padding-top: 35px;
	width: 100%;
	position: relative;
	float: center;
}


